<p>
  dataservicesandbox works!
</p>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let u of users">{{u}}</li>
</ul>
<br><hr>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let d of data">{{d}}</li>
</ul>
<br><hr>

<form (submit)="onSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" [(ngModel)]="user.email" name="email">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone">
  </div>
  <input type="submit" class="btn btn-success" value="Submit">
</form>
<hr>
<div *ngFor="let f of fakeUsers">
  <div class="well">
    <ul class="list-group">
      <li class="list-group-item">{{f.name}}</li>
      <li class="list-group-item">{{f.email}}</li>
      <li class="list-group-item">{{f.phone}}</li>     
    </ul>
    <button (click)="onDeleteClick(f.id)" class="btn btn-danger btn-sm">Delete</button>
    <br><br>
  </div>
</div>
<br><hr>
